messagebus:
  image: git.netop.com:4545/portal/portal-docker-images:dev-rabbitmq
  hostname: netop-rabbitmq
  ports:
    - 5671:5671
    - 5672:5672
    - 25672:25672
    - 4369:4369
  command: bash -c "export TERM=xterm && cd /root && su root && rabbitmq-server start -detached && ./test.sh && ./doQueues.sh && tail -f /etc/hosts"
database:
  image: git.netop.com:4545/portal/portal-docker-images:dev-mysql
  hostname: netop-mysql
  ports:
    - 3306:3306
  environment:
   - MYSQL_ROOT_PASSWORD=dev
cache:
  image: git.netop.com:4545/portal/portal-docker-images:dev-redis
  hostname: netop-cache
  ports:
    - 6379:6379
nginx:
  image: git.netop.com:4545/portal/portal-docker-images:dev-nginx
  hostname: netop-nginx
  command: bash -c "export TERM=xterm && service nginx start"
  volumes:
    - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    - ./workspace/portal-frontend/public/dist:/usr/share/nginx/html/portal
    - ./workspace/nas-frontend/public/dist:/usr/share/nginx/html/nas
    - ./workspace/weblogs:/var/log/nginx/netop
  ports:
    - 80:80
    - 443:443
netop-permissions:
  image: git.netop.com:4545/portal/portal-docker-images:dev-portal-services
  hostname: netop-permissions
  links:
    - messagebus
  ports:
    - 3003:3003
  volumes:
    - ./workspace/permissions/project:/netop-worker/files
    - ./workspace/permissions/config:/netop-worker/config
    - ./workspace/permissions/logs:/netop-worker/logs
    - ./wait-for-it-master:/tools
  entrypoint: bash -c 'sh /tools/wait-for-it.sh -t 0 messagebus:5672 && cd /netop-worker/files && echo "START INSTALL PERMISSIONS MODULES" && /usr/local/bin/npm install && echo "DONE INSTALLING PERMISSIONS MODULES" && sh /netop-worker/startMonit.sh'
netop-nas:
  image: git.netop.com:4545/portal/portal-docker-images:dev-portal-services
  hostname: netop-nas
  links:
    - netop-permissions
  ports:
    - 8084:8084
  volumes:
    - ./workspace/nas/project:/netop-worker/files
    - ./workspace/nas/config:/netop-worker/config
    - ./workspace/nas/logs:/netop-worker/logs
    - ./wait-for-it-master:/tools
  entrypoint: bash -c 'sh /tools/wait-for-it.sh -t 0 netop-permissions:3003 && cd /netop-worker/files && echo "START INSTALL NAS MODULES" && /usr/local/bin/npm install && npm run postinstall && echo "DONE INSTALLING NAS MODULES" && sh /netop-worker/startMonit.sh'
netop-portal:
  image: git.netop.com:4545/portal/portal-docker-images:dev-portal-services
  hostname: netop-portal
  links:
    - netop-nas
  ports:
    - 8083:8083
  volumes:
    - ./workspace/portal/project:/netop-worker/files
    - ./workspace/portal/config:/netop-worker/config
    - ./workspace/portal/logs:/netop-worker/logs
    - ./wait-for-it-master:/tools
  entrypoint: bash -c 'sh /tools/wait-for-it.sh -t 0 netop-nas:8084 && cd /netop-worker/files && echo "START INSTALL PORTAL MODULES" && /usr/local/bin/npm install && npm run postinstall && echo "DONE PORTAL PERMISSIONS MODULES - NETOP-PORTAL IS READY" && sh /netop-worker/startMonit.sh'
